@import 'reset';
@import 'variables/global';
@import 'themes/normal';
@import 'themes/dark';
@import 'themes/teal';
@import 'themes/green';

.app {
    background: var(--bg-color);
    min-height: 100vh;
    font: var(--font-m);
    color: var(--primary-color);
}

.content-page {
    display: flex;
}

*::-webkit-scrollbar {
    width: 12px; /* ширина scrollbar */
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: var(--primary-color); /* цвет дорожки */
}

*::-webkit-scrollbar-thumb {
    background-color: var(--accent-redesign); /* цвет плашки */
    border-radius: 20px; /* закругления плашки */
    border: 2px solid var(--inverted-bg-color); /* padding вокруг плашки */
}
