.options {
    position: absolute;
    background-color: var(--bg-color);
    z-index: 10000;
    border: 12px;
    box-shadow: 4px 4px 4px 4px var(--bg-color);
}

.item {
    padding: 10px 20px;
}

.selected {
    background: var(--inverted-secondary-color);
}
