# ===== NocoDB Data API settings =====
# URL from browser usually looks like:
# http://host:3000/<workspaceId>/<baseId>/<tableId>/<viewId>/...

# NocoDB host (protocol + domain + port)
NOCODB_HOST=http://tim.atomsk.ru:3000

# IDs from NocoDB URL/menu (see docs: Workspace/Base/Table/View IDs)
NOCODB_WORKSPACE_ID=wai9abey
NOCODB_BASE_ID=p8a9nuessg5k78h
NOCODB_TABLE_ID=m2jcg5rzheaqlxw
NOCODB_VIEW_ID=vwqbdsi0ekspi90b

# API token used as `xc-token` header in requests
# Generate in NocoDB: Account Settings -> Tokens (or project/workspace token per your setup)
NOCODB_API_TOKEN=
