# build outputs
build/
storybook-static/

node_modules
.idea
.history

# env
.env
.env.local
.env.*.local


# test / reports
reports/
.loki/
cypress/screenshots/
cypress/videos/

# local https certs
json-server/server.key
json-server/server.cert

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / editor
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json