@import "../../Styles/variables.scss";
.AtomInput {
  display: flex;
  align-items: center;
  > input {
    background: $gray-100;
    padding: $padding-small $padding-medium;
    border-radius: $border-radius;
    height: 32px;
    width: 20vw;
    max-width: 300px;
    border: none;
  }
}

.AtomInputSearch {
  display: none;
  padding: $padding-small;
  align-items: flex-start;
  border-radius: $border-radius;
  background: $green;
}

.AtomInputLightSearch {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.AtomInput > svg {
  display: none;
}

@media (max-width: 1070px) {
  .AtomInputSearch {
    display: inline-flex;
  }
  .AtomInput > svg {
    display: block;
  }
  .AtomInputLightSearch {
    display: none;
  }
  .AtomInput > input {
    display: none;
  }
}

.AtomInputSearch {
  display: none;
}

.AtomInputLightSearch {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

@media (max-width: 576px) {
  .AtomInput {
    > input {
      max-width: 250px;
      width: 60vw;
    }
  }
}
