.AtomInput {
  display: flex;
  align-items: center;

  & input {
    background: var(--Gray-100, #f6f6f6);
    padding: 4px 12px;
    border-radius: 20px;
    height: 32px;
    width: 20vw;
  }
}
.AtomInputSearch {
  display: none;
  padding: 6px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 20px;
  background: var(--Green, #008066);
}
.AtomInput svg {
  display: none;
}
.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modalInput {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}
@media (max-width: 960px) {
  .AtomInputSearch {
    display: inline-flex;
  }
  .AtomInput svg {
    display: block;
  }
  .AtomInput input {
    display: none;
  }
}
@media (max-width: 768px) {
}
