.AtomInput {
  display: flex;
  align-items: center;
  > input {
    max-width: 608px;
    width: 60vw;
    height: 40px;
    padding: 4px 12px;
    border-radius: 20px;
    border: none;
    background: var(--Gray-100, #f6f6f6);
  }
}
.AtomInputSearch {
  display: none;
}
.AtomInputLightSearch {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
@media (max-width: 576px) {
  .AtomInput {
    > input {
      max-width: 250px;
      width: 60vw;
    }
  }
}
