@import "../../Styles/variables.scss";
.Footer {
  margin-top: 20px;
  color: $white;
  text-align: center;
  padding: 10px;
  max-width: 920px;
  width: 100%;
  border-top: 1px solid $gray-200;

  &Links {
    display: flex;
    justify-content: space-between;
    align-items: center;

    > ul {
      display: flex;
      flex-direction: row;
      gap: $padding-medium;
      padding: 0;
      > li {
        list-style-type: none;
        > a {
          text-decoration: none;
          color: $light-gray;
          font-family: $font-rubik;
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px; /* 133.333% */
          letter-spacing: -0.3px;
        }
      }
    }

    &Site {
      display: flex;
      align-items: center;
      > a {
        text-decoration: none;
        color: $green;
        font-family: $font-rubik;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 133.333% */
        letter-spacing: -0.3px;
        margin-right: 5px;
      }
      > span {
        width: 20px;
        height: 20px;
        flex-shrink: 0;
      }
    }
  }

  &Info {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;

    &Text {
      display: flex;
      justify-content: space-between;
      align-items: center;

      > p {
        color: $light-gray;
        font-family: $font-rubik;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 142.857% */
        letter-spacing: -0.28px;
      }
      > span {
        width: 160px;
        background: $dark-gray;
        position: absolute;
        display: flex;
        justify-content: center;
        top: 8px;
        left: 43%;
      }
      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 70%;
        width: calc(920px / 2 - 100px);
        height: 1px;
        background: $light-gray;
        transform: translateY(-50%);
      }

      &::before {
        left: 0;
      }

      &::after {
        right: 0;
      }
    }
  }
  &Bottom {
    > p {
      color: $light-gray;
      text-align: justify;
      font-family: $font-rubik;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px; /* 150% */
      letter-spacing: -0.24px;
    }
    > ul {
      display: flex;
      padding: 0;
      > li {
        list-style-type: none;
        display: flex;
        gap: $padding-medium;
        > a {
          text-decoration: none;
          color: $green;
          font-family: $font-rubik;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 18px;
          letter-spacing: -0.24px;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .Footer {
    max-width: 740px;
    width: 100%;
    &Info {
      &Text {
        > span {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .Footer {
    max-width: 550px;
    width: 100%;
    &Info {
      > span {
        display: none;
      }
      &Text {
        display: flex;
        flex-direction: column;
        &::before,
        &::after {
          display: none;
        }
      }
    }
    &Links {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  }
}

@media (max-width: 576px) {
  .Footer {
    max-width: 340px;
    width: 100%;

    &Links {
      display: flex;
      flex-direction: column;

      > ul {
        margin-top: 20px; // Отступ сверху для списка ссылок
        margin-bottom: 20px; // Отступ снизу для списка ссылок
        flex-direction: column; // Ссылки в столбец
        gap: 10px; // Расстояние между ссылками
        align-items: center; // Центрируем ссылки
      }

      &Site {
        margin-top: 20px; // Отступ сверху для ссылки на сайт компании
      }
    }
  }
}
