.Footer {
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 920px;
  width: 100%;
  margin: 0 auto;
  border-top: 1px solid var(--Gray-200, #e8e9e9);
}
.FooterLinks {
  display: flex;
  flex-direction: column;
  > ul {
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding: 0;
    > li {
      list-style-type: none;
      > a {
        text-decoration: none;
        color: #808080;
        font-family: Rubik;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 133.333% */
        letter-spacing: -0.3px;
      }
    }
  }
}
.FooterInfo {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;

  > span {
    width: 160px;
    background: #fafafa;
    position: absolute;
    display: flex;
    justify-content: center;
    top: 8px;
    left: 43%;
  }
}
.FooterInfoText {
  display: flex;
  justify-content: space-between;
  align-items: center;

  > p {
    color: #808080;
    font-family: Rubik;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.28px;
  }
}
.FooterInfoText::before,
.FooterInfoText::after {
  content: "";
  position: absolute;
  top: 70%;
  width: calc(920px / 2 - 100px);
  height: 1px;
  background: #808080;
  transform: translateY(-50%);
}

.FooterInfoText::before {
  left: 0;
}

.FooterInfoText::after {
  right: 0;
}
.FooterBottom {
  > p {
    color: #808080;
    text-align: justify;
    font-family: Rubik;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
    letter-spacing: -0.24px;
  }
  > ul {
    display: flex;
    padding: 0;
    > li {
      list-style-type: none;
      display: flex;
      gap: 16px;
      > a {
        text-decoration: none;
        color: #008066;
        font-family: Rubik;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: -0.24px;
      }
    }
  }
}
