.InstructionPage {
  display: flex;
  max-width: 1440px;
  width: 100vw;
  gap: 124px;
  box-sizing: border-box;
  &LeftAside {
    position: relative;
  }
  &LeftButton {
    position: fixed;
    top: 500px;
    left: 400px;
  }
}
