@import "../Styles/variables.scss";
.InstructionPage {
  display: grid;
  grid-template-columns: 280px 124px 1fr 150px 300px;
  position: relative;
  justify-content: center;
  padding: 20px;
  &LeftAside {
    position: sticky;
    overflow-y: auto;
    padding: 20px;
    top: 90px;
    height: 100vh;
    transition: transform 0.3s ease;
    z-index: 100;
    > nav {
      > ul {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        list-style-type: none;
        > li {
          margin-bottom: 24px;
          > a {
            text-decoration: none;
            color: var(--Gray-800, #808080);
            font-family: Inter;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
          }
        }
      }
    }
    &.open {
      transform: translateX(0);
    }
    &.close {
      transform: translateX(-200%);
    }
  }
  &LeftButton {
    display: none;
    position: fixed;
    top: 110px;
    left: 20px;
    z-index: 100;
    padding: 10px;
    border: 1px solid gray;
  }
  &Content {
    > p {
      color: var(--Gray-900, #1a1a1a);
      font-family: Inter;
      font-size: 18px;
      font-style: normal;
      font-weight: 300;
      line-height: 28px;
    }
  }
}
.RightAside {
  position: sticky;
  height: 100vh;
  top: 120px;
  overflow-y: auto;

  > ol {
    list-style-type: decimal;
    padding-left: 0;
    margin: 0;
    position: relative;
    > li {
      counter-increment: custom-counter;
      margin-bottom: 12px;
      text-decoration: none;
      color: var(--Gray-800, #808080);
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px; /* 150% */
      > a {
        text-decoration: none;
        color: var(--Gray-800, #808080);
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 150% */
      }
    }
    li::before {
      content: counter(custom-counter);
      padding-right: 8px;
    }
  }
}

@media (max-width: 1760px) {
  .InstructionPage {
    grid-template-columns: 280px 124px 1fr 150px 300px;
  }
}
@media (max-width: 1560px) {
  .InstructionPage {
    grid-template-columns: 240px 60px 1fr 50px 240px;
  }
}
@media (max-width: 1360px) {
  .InstructionPage {
    grid-template-columns: 200px 30px 1fr 30px 200px;
  }
}
@media (max-width: 1160px) {
  .InstructionPage {
    grid-template-columns: 180px 20px 1fr;
  }
  .RightAside {
    display: none;
  }
}
@media (max-width: 960px) {
  .InstructionPage {
    display: flex;
    position: relative;
  }
  .InstructionPageContent {
    padding: 20px;
  }
  .InstructionPageLeftAside {
    position: fixed;
    left: 0px;
    background-color: $white;
  }
  .InstructionPageLeftButton {
    display: block;
  }
}
