.InstructionPage {
  display: flex;
  max-width: 917px; /* Максимальная ширина */
  width: 100%; /* Ширина контейнера */
  box-sizing: border-box;
}
.InstructionPageContent {
  margin: 0 auto; /* Центрирование контента */
  padding: 20px;
  background-color: #fff;
  flex-grow: 1;
  z-index: 1;
}
@media (max-width: 1520px) {
  .InstructionPage {
    max-width: 768px;
  }
}
