# Игнорировать директорию с зависимостями
node_modules/

# Игнорировать скомпилированные файлы TypeScript
dist/
build/
app.js
# Игнорировать файлы журналов
*.log
# Игнорировать временные файлы от редакторов
.vscode/
.idea/

# Игнорировать файлы операционной системы
.DS_Store
Thumbs.db

# Игнорировать файлы временной сборки и кеша
*.tsbuildinfo
.vercel

# ENV
.env