.LibraryPage {
  max-width: 1440px;
  width: 100vw;
  padding: 20px;
  box-sizing: border-box;
  &Main {
    display: flex;
    flex-direction: column;
    align-items: center;
    &Section {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      .Card {
        display: flex;
        justify-content: space-around;

        flex-wrap: wrap;
        padding: 40px;
      }
    }
  }
}
hr {
  border: 0;
  height: 1px;
  background-color: #ccc; /* Цвет линии */
  margin: 20px 0; /* Отступы сверху и снизу */
}
