.app_dark_theme {
    /* =======================================================
       BASE BACKGROUNDS
    ======================================================== */
    --bg-color: #121212;
    --inverted-bg-color: #f5f5f5;

    /* =======================================================
       TEXT COLORS
    ======================================================== */
    --primary-color: #e8ebe9;
    --secondary-color: #b4b5b7;
    --inverted-primary-color: #1a1a1a;
    --inverted-secondary-color: #4d4c4c;

    /* =======================================================
       UI ELEMENTS
    ======================================================== */
    --card-bg: #1e1e1e;
    --list-box-bg: #232323;
    --code-btn: #2a2a2a;

    /* =======================================================
       SKELETON
    ======================================================== */
    --skeleton-color: #2a2a2a;
    --skeleton-shadow: rgba(255 255 255 / 5%);

    /* =======================================================
       REDESIGN COLORS
    ======================================================== */
    --dark-bg-redesign: #1a1f1d;
    --bg-redesign: #005f45;
    --light-bg-redesign: #1f3d35;

    --text-redesign: #e8ebe9;
    --hint-redesign: #939598;

    --cancel-redesign: #ff6b6b;
    --save-redesign: #00a876;

    --icon-redesign: #7c8dd6;
    --accent-redesign: #00a876;

    /* =======================================================
       FOOTER
    ======================================================== */
    --color-footer-bg: #1a1a1a;
}
