:root {
    /* =======================================================
       BASE BACKGROUNDS
    ======================================================== */
    --bg-color: #fafafa;
    --inverted-bg-color: #1a1a1a;

    /* =======================================================
       TEXT COLORS
    ======================================================== */
    --primary-color: #1a1a1a;
    --secondary-color: #4d4c4c;
    --inverted-primary-color: #fff;
    --inverted-secondary-color: #b4b5b7;

    /* =======================================================
       UI ELEMENTS
    ======================================================== */
    --card-bg: #fff;
    --list-box-bg: #f6f6f6;
    --code-btn: #ebeeef;

    /* =======================================================
       SKELETON
    ======================================================== */
    --skeleton-color: #ebeeef;
    --skeleton-shadow: rgba(0 0 0 / 10%);

    /* =======================================================
       REDESIGN COLORS
    ======================================================== */
    --dark-bg-redesign: #eef3f2;
    --bg-redesign: #008060;
    --light-bg-redesign: #bfe4cc;
    --text-redesign: #1a1a1a;
    --hint-redesign: #939598;
    --cancel-redesign: #f15b5b;
    --save-redesign: #008060;
    --icon-redesign: #5c74b8;
    --accent-redesign: #008060;

    /* =======================================================
       FOOTER
    ======================================================== */
    --color-footer-bg: #ebeeef;
}
