.Navbar {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  button {
    height: 40px;
    min-width: 80px;
    padding: 8px 24px;
    border-radius: 20px;
    border-style: none;
    background: var(--Green, #008066);
    color: var(--White, #fff);
    font-family: Inter;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px; /* 133.333% */
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}
