@import "../../Styles/variables.scss";
.SectionToggle {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: $light-gray;
  margin-top: $padding-small;
}

.SubMenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease-in-out;
  opacity: 0;
}

.SubMenu.open {
  max-height: 500px;
  opacity: 1;
}
