@import "../../../Styles/variables.scss";
.LibrarySection {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  text-align: center;
  > h1 {
    font-size: 28px;
    font-family: $font-rubik;
    color: $gray-900;
  }
  &Cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    .Card {
      max-width: 200px;
      width: 100vw;
      padding: 20px;
      display: flex;
      align-items: center;
      flex-direction: column;
      > img {
        width: 100%;
        height: auto;
        object-fit: cover;
        cursor: none;
        border-radius: $border-radius;
      }

      > p {
        color: $light-gray;
        font-family: $font-inter;
      }
    }
  }
}
@media (max-width: 1200px) {
  .LibrarySection {
    > h1 {
      font-size: 24px;
    }
  }
  .Card {
    > p {
      font-size: 14px;
    }
  }
}

@media (max-width: 768px) {
  .LibrarySection {
    > h1 {
      font-size: 18px;
    }
  }
  > p {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .LibrarySection {
    > h1 {
      font-size: 16px;
    }
  }
  > p {
    font-size: 3vw;
  }
  .Card {
  }
}
