.Header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  z-index: 1000;
  padding: 20px;
  border-bottom: 1px solid var(--Gray-200, #e8e9e9);
  background: var(--White, #fff);
  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.1);
}
.Links {
  display: flex;

  a {
    color: var(--Gray-900, #1a1a1a);
    font-family: Mikro;
    font-size: 16px;
    align-content: center;
    letter-spacing: 0.5px;
    text-transform: uppercase7;
    cursor: pointer;
    margin-right: 24px;
  }
}
@media (max-width: 1919px) {
  .Header {
    width: 90%;
  }
}
