.Header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  z-index: 1000;
  padding: 20px;
  border-bottom: 1px solid var(--Gray-200, #e8e9e9);
  background: var(--White, #fff);
  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.1);
}
.Links {
  display: flex;
  gap: 24px;
  a {
    color: var(--Gray-900, #1a1a1a);
    text-align: center;
    font-family: Mikro;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    align-content: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    cursor: pointer;
  }
}
@media (max-width: 920px) {
}
