@import "../../Styles/variables.scss";
.Header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: calc(1440px - 48px);
  z-index: 1000;
  padding: $padding-large;
  border-bottom: 1px solid $gray-200;
  background-color: $white;
  box-shadow: $box-shadow;
  &Content {
    display: flex;
    gap: $padding-large;
    align-items: center;
  }
  &Links {
    display: flex;
    gap: $padding-large;
    list-style-type: none;
    padding: 0;
    > li {
      list-style-type: none;
      > a {
        text-decoration: none;
        color: $gray-900;
        text-align: center;
        font-family: $font-mikro;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px; /* 150% */
        letter-spacing: 0.5px;
        text-transform: uppercase;
      }
    }
  }
}
.BurgerMenu {
  display: none;
  cursor: pointer;
}

.HeaderBox {
  opacity: 0;
}

.HeaderActive {
  animation: fade-in $animation-duration $animation-easing forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 1520px) {
  .Header {
    max-width: 1260px;
    width: 100%;
  }
}

@media (max-width: 1350px) {
  .Header {
    max-width: 1040px;
    width: 100%;
  }
}

@media (max-width: 1160px) {
  .Header {
    max-width: 990px;
    width: 100%;
    gap: $padding-medium;
  }
}

@media (max-width: 865px) {
  .Header {
    max-width: 700px;
    width: 100%;
    gap: $padding-medium;
  }
}

@media (max-width: 768px) {
  .Header {
    max-width: 600px;
    width: 100%;
    gap: $padding-medium;
    &Links {
      display: none;
      opacity: 0;
    }
    &LinksOpen {
      padding: 10px 0 10px 50px;
      display: flex;
      flex-direction: column;
      top: 103px;
      position: absolute;
      left: 0;
      right: 0;
      z-index: 999;
      background-color: $white;
      animation: fade-in $animation-duration $animation-easing forwards;
    }
  }
  .BurgerMenu {
    display: block;
  }
}

@media (max-width: 680px) {
  .Header {
    max-width: 420px;
    width: 100%;
  }
}

@media (max-width: 520px) {
  .Header {
    max-width: 320px;
    width: 100%;
  }
}
