.Header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  z-index: 1000;
  padding: 20px;
  border-bottom: 1px solid var(--Gray-200, #e8e9e9);
  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.1);
}
.HeaderContent {
  display: flex;
  gap: 24px;
}
.HeaderContentLinks {
  display: flex;
  > ul {
    display: flex;
    > li {
      list-style-type: none;
      > a {
        color: #1a1a1a;
        font-family: Mikro;
        align-content: center;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        cursor: pointer;
        text-decoration: none;
      }
    }
  }
}

@media (max-width: 1460px) {
  .Header {
    max-width: 1200px;
  }
}
@media (max-width: 1250px) {
  .Header {
    max-width: 1000px;
  }
}
@media (max-width: 1070px) {
  .Header {
    max-width: 900px;
    gap: 16px;
  }
}
@media (max-width: 960px) {
  .Header {
    max-width: 768px;
    gap: 16px;
  }
}
@media (max-width: 768px) {
  .Header {
    max-width: 768px;
    gap: 16px;
  }
}
