.LibraryPage {
    display: flex;
    flex-direction: column;
}

.Templates {
    display: flex;
    flex-wrap: wrap;
}

@media (width >= 1024px) {
}

@media (max-width: 1024px) {
}

@media (width <= 767px) {
}

@media (width >= 1024px) {
} ;
