@import "../../Styles/variables.scss";
.InstructionPage {
  padding: 20px;
  box-sizing: border-box;

  &Main {
    max-width: 1440px;
    width: 100vw;
    display: grid;
    grid-template-columns: 280px 124px 1fr;
    position: relative;
    box-sizing: border-box;

    &LeftAside {
      position: sticky;
      overflow-y: auto;
      padding: 20px;
      top: 105px;
      height: 100vh;
      transition: transform 0.3s ease-in-out;
      z-index: 100;

      > nav {
        > ul {
          padding: 0;
          margin: 0;
          display: flex;
          flex-direction: column;
          list-style-type: none;

          > li {
            margin-bottom: 24px;

            > a {
              text-decoration: none;
              color: var(--Gray-800, #808080);
              font-family: Inter;
              font-size: 18px;
              font-style: normal;
              font-weight: 500;
              line-height: 24px;
            }
          }
        }
      }

      &.open {
        transform: translateX(0);
      }
      &.close {
        transform: translateX(-100%);
      }
    }

    &LeftButton {
      display: none;
      position: fixed;
      top: 600px;
      left: 10px;
      z-index: 100;
      background-color: white;
      border: none;
      padding: 10px;
      cursor: pointer;
    }

    &Content {
      max-width: 917px;

      > p {
        color: var(--Gray-900, #1a1a1a);
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 28px;
      }
    }
  }
}

.RightAside {
  position: fixed;
  overflow-y: auto;
  top: 140px;
  right: calc((100vw - 1920px) / 2 + 20px);
  height: 100vh;
  z-index: 100;
  width: 300px;
  transition: all 0.3s ease;

  > ol {
    list-style-type: decimal;
    padding-left: 0;
    margin: 0;
    margin-top: 20px;
    position: relative;

    > li {
      counter-increment: custom-counter;
      margin-bottom: 12px;

      > a {
        text-decoration: none;
        color: var(--Gray-800, #808080);
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
      }
    }

    li::before {
      content: counter(custom-counter);
      padding-right: 8px;
    }
  }
}

@media (max-width: 1760px) {
  .InstructionPageMain {
    grid-template-columns: 280px 124px 1fr;
    &Content {
      max-width: 780px;
    }
  }
  .RightAside {
    right: calc((100vw - 1760px) / 2 + 20px);
  }
}

@media (max-width: 1560px) {
  .InstructionPageMain {
    grid-template-columns: 240px 60px 1fr;
    &Content {
      max-width: 700px;
    }
  }
  .RightAside {
    right: calc((100vw - 1560px) / 2 + 20px);
  }
}

@media (max-width: 1360px) {
  .InstructionPageMain {
    grid-template-columns: 200px 30px 1fr;
  }
  .RightAside {
    right: calc((100vw - 1360px) / 2 + 20px);
  }
}

@media (max-width: 1160px) {
  .InstructionPageMain {
    grid-template-columns: 180px 20px 1fr;
  }
  .RightAside {
    display: none;
  }
}

@media (max-width: 960px) {
  .InstructionPageMain {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .InstructionPageMainContent {
    padding: 20px;
  }
  .InstructionPageMainLeftAside {
    position: fixed;
    left: 0;
    background-color: $white;
    display: none;
    &.open {
      display: block;
    }
  }
  .InstructionPageMainLeftButton {
    display: block;
  }
}
