/* Общие стили */
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
/* Контейнер для основного содержимого */
.container {
  display: flex;
  margin-top: 120px;
  justify-content: center;
  max-width: 1920px;
  width: 100%;
}
