/* Общие стили */
.App {
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
/* Контейнер для основного содержимого */
.container {
  display: flex;
  margin-top: 120px;
  padding: 20px;
  justify-content: center;
  align-items: center;
}
