body,
html {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.NavBar {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

.Container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.leftBar {
  background-color: #f4f4f4;
  padding: 10px;
  width: 20vw;
  box-sizing: border-box;
}

.Main {
  background-color: #fff;
  box-sizing: border-box;
}

.rightBar {
  background-color: #f4f4f4;
  padding: 10px;
  width: 20vw;
  box-sizing: border-box;
}

.Footer {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}
