.ImageTrack {
  position: relative;
  display: inline-block;

  .ImageTrackFront,
  .ImageTrackBack {
    display: block;
    width: 100%;
    height: auto;
  }

  .ImageTrackBack {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    bottom: 0;
  }

  .ImageTrackLens {
    position: absolute;
    border: 2px solid #fff;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    pointer-events: none;
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.5);
  }
}
