.imgWrapper {
    position: relative;
    overflow: hidden;
    border-radius: 24px;
}

.circle {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    pointer-events: none;
    border: 3px solid white;
}

.mainImage {
    display: block;
    width: 100%;
}

.innerImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
